# ==============================
# Ignore Temporary Files
# ==============================
*.tmp
*.bak
*.log

# ==============================
# Ignore System Files
# ==============================
Thumbs.db
desktop.ini

# ==============================
# Ignore IDE / Editor Files
# ==============================
.vscode/
.idea/
.vs/

# ==============================
# Ignore Build Cache Folders
# ==============================
bin/
obj/

# ==============================
# Ignore Python Cache (if used)
# ==============================
__pycache__/
*.ipynb_checkpoints

# ==============================
# Output Folder Rules
# Ignore everything inside Output
# But allow .iss installer scripts
# ==============================
Output/*
!Output/*.iss

# ==============================
# Allow Executable Files
# ==============================
!*.exe
